section {
	display:flex;
	width: auto;
	margin-right: 20%;
	margin-left: 20%;
}

section > h1 {
	text-align: center;
}

section#sec1{
	flex-direction: column;
}

section#sec2{

}

#parcourir {
	width: 50%;
}

#dragndrop {
	width: 50%;
}

#drop {
	border: solid;

}