body {
	background-color: #EEEEEE;
}
section {
	display:flex;
	width: auto;
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 5px;
	border: solid;

}

section > h1 {
	text-align: center;
	font-size: 55px;
	font-family: serif;
}

section form {
	margin: 5px;
}

section#sec1{
	flex-direction: column;
}

section#sec1 p {
	padding-bottom: 5%;
	text-align: center;
}

section#sec2{
	padding: 1%
}

#parcourir {
	width: 50%;
}

#dragndrop {
	width: 50%;
}

#dropzone {
	border: dotted;
	color: grey;
}

#dropzone p {
	color: black;
	text-align: center;
	padding-top: 15%;
	padding-bottom: 15%;
}